<div class="col-md-8">
<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>

  <% events.each do |event| %>
  <% if event.public.name == "公開" || ( user_signed_in? && current_user.id == event.user_id) %>
    <div>
      <%= link_to event.title, event_path(event.id) %>
    </div>
  <% end %>
  <% end %>
<% end %>
</div>